Repeated headers cause problems in json audit logs

**Describe the bug**

Current implementation of json audit logs generates log entries with duplicated keys in the event of repeated headers in either the request or response. This is _technically_ not _invalid_ json per [RFC 7159 Section 4](https://datatracker.ietf.org/doc/html/rfc7159#section-4), but most implementations silently drop all-but-first or all-but-last instances of duplicated keys. In [some cases](https://javadoc.io/static/com.google.protobuf/protobuf-java-util/3.11.1/com/google/protobuf/util/Structs.html) however, the behavior is undefined and an error is thrown. I found [this issue](https://github.com/SpiderLabs/ModSecurity-nginx/issues/230) in the nginx repo outlining a similar difficulty. The prevailing idea over there seemed to be to convert repeated header fields into a single array value containing all of the previously enumerated values. The HTTP specification states in [RFC 9110 Section 5.2](https://datatracker.ietf.org/doc/html/rfc9110#section-5.2) that field values for repeated headers should be able to be concatenated delimited by commas. I think either of these are reasonable solutions with pros and cons...

*Arrays*
Pros:
- Can easily handle different data types

Cons:
- Less aligned with typical representations of multiple values for a single header

*Comma-delimited concatenated strings*
Pros:
- Part of RFC spec for HTTP

Cons:
- Really only applies to string values

**To Reproduce**

``` curl
curl -H "test: value" -H "test: another-value" "https://<site-behind-modsec>"
```

**Server (please complete the following information):**
 - ModSecurity version (and connector): ModSecurity v3.0.4 with envoy connector v0.1.0
 - WebServer: envoy 1.19
 - OS (and distro): linux ubuntu


**Rule Set (please complete the following information):**
 - Running any public or commercial rule set? OWASP_CRS
 - What is the version number? 3.2.0



Hi @jbohanon ,

Actually the issue that you found ( https://github.com/SpiderLabs/ModSecurity-nginx/issues/230 ) is exactly the same issue. Or, more precisely, that other issue is describing two sub-issues, one of which is the json-formatting issue for duplicates.

As you may gathered from my comments at https://github.com/SpiderLabs/ModSecurity-nginx/issues/230#issuecomment-743296353 , I do prefer the array format as the solution.
